@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Display&family=Nanum+Myeongjo&family=Noto+Serif+KR&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'Noto Serif Display', serif; 
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Serif KR', serif;
*/

html, body, h1, h2, h3, h4, h5, h6, ol, ul, dl, dt, dd {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ul, ol{
  list-style: none;
  /* 블릿 표시자 없앰 */
}

body *{
  outline: 1px dashed gray;
}

body{
  background: url(../img/bg1.jpg) no-repeat fixed center/cover;
}

.ibx{
  max-width: 1600px;
  margin: 0 auto;
}


/* 상단 영역 */
.top{
  height: 90px;
  /* background-color: rgba(0, 0, 0, 0.753); */
  position: sticky;
  top: 0px;
}
.top div{
  float: left;
}
.top::after{
  content: "";
  display: block;
  clear: both;
}

.ALogo{
  width: 130px;
  margin: 30px 10px 0px;
}

.RLogo{
  width: 100px;
  margin: 12px 5px 0px 10px;
}
.Tlogo{
  float: left;
}
.Logo::after{
  content: "";
  display: block;
  clear: both;
}
.gnb{
  margin: 0px 10px;
}
.gnb>ul>li>a{
  text-decoration: none;
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif KR', serif;
  vertical-align: -37px;
  padding: 0 20px;
}
.gnb>ul>li{
  float: left;
}
.gnb>ul::after{
  content: "";
  display: block;
  clear: both;
}
.Tbox:hover{
  background-color: white;
  transition: background-color .4s ease-out 0s;
}
.Tbox:hover .gnb>ul>li>a{
  color: black;
}
/* 메인 영역 */
.cont{
  max-width: 1920px;
  height: 1000px;
}

.cbx{
  width: 95%;
  margin: 0 auto;
  /* margin-top: 100px; */
  padding-top: 100px;
  text-align: center;
  /* overflow: hidden; */
}

.cbx img{
  border: 4px ridge goldenrod;
  border-bottom: none;
  box-sizing: border-box;
}
.cbx h2{
  position: relative;
  z-index: -1;
  font-family: 'Noto Serif Display', serif;
  font-size: 50px;
}


.zaun h2{
  color: black;
  text-shadow: 0px 0px 5px darkmagenta;
}

.pilt h2{
  color:gold;
  text-shadow: 0px 0px 5px white;
}

.nbx{
  font-family: 'Bebas Neue', cursive;
  font-size: 150%;
  color: rgb(255, 255, 255);
  margin-top: -35px;
  margin-bottom: 0;
}


.cbx>div::after{
  content: "";
  display: block;
  clear: both;
}

.cha{
  position: relative;
  padding: 0px;
  width: 23%;
  height: 49%;
  margin: 0 1%;
  float: left;
}

.ci>img{
  width: 100%;
}


.cd{
  position: absolute;
  background: url(../img/cdbg.jpeg) no-repeat center/cover;
  border: 4px ridge goldenrod;
  border-top: none;
  /* border-bottom: none; */
  height: 0px;
  overflow-y: scroll;
}

.cd p{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  color: white;
  padding: 10px;
  text-align: justify;
  line-height: 1.6;
  margin: 0;
}

.pilt{
  margin-top: 150px;
}
.zaun .cha{

  /* margin-bottom: 160px; */
  /* transition: margin-bottom 0s .4s; */
}

.zaun .cha:hover{
  /* margin-bottom: 0; */
  /* transition: margin-bottom 0s 0s; */
}

.cha:hover .ci{
  /* position: relative;
  top: -150px; */
  margin-top: -30%;
}


.cha:hover .cd{
  height: 160px;
}

.cha:hover{
  /* padding-top: 100px */
}

.cd{
  transition: height .4s ease-out 0s;
}

.ci{
  transition: margin-top .4s ease-out 0s;
}

/* 하단 영역 */
.info{
  height: 241px;
  text-align: center;
}
.BLogo img{
  width: 10%;
  padding-top: 10px;
}
.term{
  padding: 8px 16px;
  float: left;
  text-decoration: none;
  color: white;
}
.Bbox address{
  width: 60%;
  margin: 0px auto;
  padding: 10px 0px 20px 0px;
  color: white;
}
.terms{
  width: 385px;
  margin: 0px auto;
}
.terms::after{
  content: "";
  display: block;
  clear: both;
}
.Bbox:hover{
  background-color: white;
  transition: background-color .4s ease-out 0s;
}
.Bbox:hover .term{
  color: black;
}

.Bbox:hover .addr{
  color: black;
}