@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);

body{
    background-color: #000;
}

/* 공사 중 */
/* body *{
    outline: 1px dashed #ccc;
} */

/* 레이아웃 공통 class */
.part{
    max-width: 1200px; /* 최대 1200px 이하일 때 auto */
    margin: 0 auto; /* 마영오 - 가로중앙 */
}
 /* 1. 상단영역  */
#top{
    position: relative; /* z-index 적용을 위해 relative + 부모자격 */
    z-index: 10;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1. 페이지 타이틀 */
h1.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    text-align: center;
    line-height: 80px;

    /* 그림자를 이용한 글로우 효과 */
    text-shadow: 0 0 10px aquamarine;

    animation: glow 1s ease-in infinite alternate ;
}
/* 타이틀 glow 애니메이션 */
@keyframes glow {
    to{
        text-shadow: 0 0 0;
    }
}

/* 1-2. 전체메뉴(GNB) */
.gnb{
    position: absolute;
    bottom: 10px;
    right: 15px;
    /* 부모는? #top */
}
/* GNB ul */
.glist{
    display: flex; /* 플렉스박스 */
}
/* GNB li 리스트 */
.glist>li{
    position: relative; /* 부모자격: .smenu의 중앙정렬을 위해 */
    padding: 0 10px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}
/* GNB 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
}
/* smenu에 가상요소로 삼각형 만들기 */
.smenu::before{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    /* 부모는 .smenu */

    /* 삼각형 만들기 */
    width: 0;
    height: 0;
    border-bottom: 10px solid #353535;
    border-left: 10px solid transparent; /* 양쪽보더는 투명 */
    border-right: 10px solid transparent; /* 양쪽보더는 투명 */
}
/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid white;
    padding: 10px;
}
/* 서브메뉴 li */
.smenu li{
    font-size: 16px;
    line-height: 2;
}
/* cgv 아트하우스 위쪽 구분선 */
.bdt{
    border-top: 1px solid white;
}
 /* 2. 메인영역  */
#cont{
    position: relative; /* 부모자격 */
    height: 788px;
    background: url(../images/bg.jpg) no-repeat;
}
/* 2-1. 스크린 박스 */
#screen{
    position: absolute;
    top: 136px;
    left: 257px;
    /* 부모는? #cont */
    width: 701px;
    height: 398px;
    background-color: black;
}
/* 스크린 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    border: none; /* 아이프레임 기본 보더 없앰 */
}
/* 2-2. 예고편 선택 메뉴 */
.mlist{
    position: absolute;
    bottom: 60px;
    left: 50%;
    /* 부모는? #cont */
    transform: translateX(-50%); /* X축 중앙 정렬 */

    overflow: hidden; /* 영화 설명박스를 숨기기 위해 설정 - 부모자격이 있는 요소에 사용해야함 */
}
/* ul flexbox */
.mlist>ul{
    display: flex;
}
.mlist>ul>li{
    margin: 0 9px;
}
.mlist>ul>li>a>img{
    width: 99px;
    height: 140px;
}

.movtxt{
    position: absolute;
    top: 100%; /* 부모의 높이값만큼 */
    /* 부모는? .mlist */

    width: 99px;
    height: 140px;

    background-color: rgba(0, 0, 0, 0.712);

    font-family: 'Cute Font', cursive;
    font-size: 14px;
    line-height: 2;
    text-align: center;

    transition: top .4s ease-out;
}
/* 부모 li에 마우스 오버 시 설명박스 올라오기 */
.mlist>ul>li:hover .movtxt{
    top: 0;
}
/* 첫번째 li 영화제목 */
.movtxt>li:nth-child(1){
    color: aqua;
    font-size: 17px;
    letter-spacing: -1px;
    margin-top: 30%;
}
 /* 3. 하단영역  */
#info{
    height: 100px;
}