@charset "utf-8";
/* 도깨비PJ 핵심공통 css - core */
/* 웹폰트 및 공통 클래스 */

/* 외부파일 합치기 - 웹폰트(CDN) */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Song+Myung&family=Noto+Sans+KR&display=swap');

/* 
font-family: 'East Sea Dokdo', cursive;
font-family: 'Song Myung', serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/* 공통 클래스 */

/* 스크롤바 디자인 클래스 */
/* -webkit- 벤더사명(크롬,사파리) 접두어 */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기 변경 */
    width: 7px;
    }
    .scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #666;
    border-radius: 5px;
    }
    .scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
    }
    
    
    /* 속박스 클래스 */
    .ibx{
      /* width: 1200%; */
      max-width: 1200px;
      /* 최대 가로 크기 1200px이다가 화면이 1200px보다 작아지면 auto로 자동 변경 
      ->가로 스크롤이 생기지 않는다 */
      margin: 0 auto;
      /* 위아래 양쪽(auto는 등분함) */
      /* 마영오: 블록박스 가로중앙 */
    }
    