@charset "utf-8";
/* 도깨비 메인 페이지 CSS - main.css */

/* 외부파일 합치기 - 웹폰트(CDN) */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Song+Myung&family=Noto+Sans+KR&display=swap');

/* 
font-family: 'East Sea Dokdo', cursive;
font-family: 'Song Myung', serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/* 기본 태그 초기화 - 마진, 패딩 없애기 */
html, body, h1, h2, h3, h4, h5, h6, ol, ul, dl, dt, dd {
  margin: 0;
  padding: 0;
}

/* 헤딩 태그 글자 크기 초기화 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* 글자크기 100%: 기본 글자 크기와 같아지는 셋팅 (기본 글자크기는 16px) */
}
/* ul, ol 초기화 */
ul, ol{
  list-style: none;
  /* 블릿 표시자 없앰 */
}

/* 작업 진행 중 외곽선 */
/* 별표시(*)는 모든 요소를 선택 시 사용 */
body *{
  outline: 1px dashed gray;
  /* outline: 두께 종류 색상;
    ->border와 달리 주변 요소에 전혀 영향을 주지 않는다
    ->border는 박스 요소에 필수 포함요소지만 outline은 필수 요소가 아니다
    ->요소의 외곽선 바깥으로 보임
    */
}

/* 콘텐츠 파트 최상위 부모 */
body{
  /* 한 번에 배경 주기 */
  /* background: 색상 이미지 반복여부 고정 위치/크기 */
  background: 
  url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
  url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;

  /* 1.배경색 */
  /* background-color: rgb(129, 223, 240); */

  /* 2.배경 이미지 */
  /* background-image: url(../images/bg_logo_a_01.png); */
  /* 외부 css인 경우 css 파일 위치에서 한 단계 위로 올라간 후 이미지 폴더를 찾는다-> ../ */

  /* 3.배경 반복 여부 */
  /* background-repeat: no-repeat; */
  /* no-repeat 반복 안 함
     repeat-x x축 반복
     repeat-y y축 반복
  */

  /* 4.배경 고정 */
  /* background-attachment: fixed; */
  /* fixed 보이는 화면에 고정 */

  /* 5.배경 위치 조정 */
  /* background-position: center; */
  /* background-position: 가로 세로
     -가로: px,% 등 단위 또는 left, center, right
     -세로: px,% 등 단위 또는 top, center, bottom
  */

  /* 6.배경 이미지 크기 */
  /* background-size: cover; */
  /* background-size: 가로 세로; 
     -가로: px,% 등 단위 또는 auto(고유 비율 유지)
     -세로: px,% 등 단위 또는 auto

     -특별한 값
     contain(비율 유지 채우기. 이미지 모두 보임)
     cover(비율 유지 채우기. 배경 박스에 빈틈 없이 채움)
     */

}

/* 공통 클래스 */

/* 스크롤바 디자인 클래스 */
/* -webkit- 벤더사명(크롬,사파리) 접두어 */
.scbar::-webkit-scrollbar{
/* 전체 스크롤바 크기 변경 */
width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
/* 스크롤바 */
background-color: #666;
border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
/* 스크롤바 트랙 */
background-color: #ddd;
border-radius: 5px;
}


/* 속박스 클래스 */
.ibx{
  /* width: 1200%; */
  max-width: 1200px;
  /* 최대 가로 크기 1200px이다가 화면이 1200px보다 작아지면 auto로 자동 변경 
  ->가로 스크롤이 생기지 않는다 */
  margin: 0 auto;
  /* 위아래 양쪽(auto는 등분함) */
  /* 마영오: 블록박스 가로중앙 */
}

/* 1. 상단 영역 */
.top{
  height: 125px;
}

#top{
  background-color: #fff;
}

/* 로고박스 */
#logo{
  text-align: center;
  padding: 20px;
}

/* 로고 이미지 */
#logo img{
  width: 100px;
}

/* gnb 메뉴 */
.gnb{
width: 567px;
margin: 0 auto;
}

.gnb>ul>li{
  float: left; /* 옆으로 흐르게 */
  padding: 0 15px;
}

/* 가상요소로 clear 설정 */
.gnb>ul::after{
  content: "";
  display: block;
  clear: both;
}

/* 메뉴 링크 */
.gnb>ul>li>a{
  color: #222;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  line-height: 40px;
}

/* 2. 메인 영역 */
.cont{
  max-width: 1920px;
  /* 가장 큰 일반 해상도 크기로 최대 크기 변경 */
  height: 800px;
  overflow: hidden;
  /* 자식 요소의 margin-top을 포함하기 위해 */
}
/* 캐릭터 부모 박스 */
#cbx{
  width: 90%;
  /* 부모 박스 크기의 90% 크기 */
  margin: 0 auto;
  margin-top: 400px;
  /* height: 300px; */
  /* background-color: rgba(240, 128, 128, 0.479); */
  /* overflow: hidden; -> 캐릭터 이미지가 위로 올라갈 때 가려지기 때문에 쓸 수 없음
  ->가상요소로 마지막에 float해제 설정하기 */
}

/* 가상 요소로 clear 설정하기 */
#cbx::after{
  content: "";
  display: block; /* div와 비슷 */
  clear: both; /* float을 끊어서 부모가 자식을 인식함 */
}

/* 캐릭터 박스 공통 */
.cha{
  /* 가로 4등분 */
  width: 24%;
  margin: 0 .5%;
  /* 양쪽 margin 0.5%씩 2개이므로 합이 1%
  이를 크기에 반영한다 
  참고: 0.~ 에서는 일반적으로 0 생략*/
  float: left;
  /* block요소를 옆으로 흘러가게 하기
    float속성
    ->left : 나는 왼쪽에 너는 오른쪽에
    ->right : 나는 오른쪽에 너는 왼쪽에

    자식 요소가 float된 경우 부모 요소는 높이 값 0
    ->block 자식요소가 float으로 인해 부모 요소가 높이 값이 0인 경우 다음과 같이 해결한다
    1) 부모 요소에 overflow:hidden 설정
    2) float 자식 요소 중 마지막 요소에 float 해제 속성인 clear 설정
  */

  /* height: 200px; */
  /* outline: 3px dotted rgb(48, 255, 41); */
  cursor: pointer;
  /* 마우스 커서 손가락 모양 */
}

/* 캐릭터 이미지 박스 */
.ci{
  transition: margin-top .4s ease-out 0s;
}

/* .cha에 마우스 오버 시 .ci의 margin-top을 마이너스로 설정 */
.cha:hover .ci{
  margin-top: -54%;
}

.ci>img{
  width: 100%;
  /* 이미지 크기를 부모 박스에 맞춰라 */

}

/* 캐릭터 이름 이미지 박스 */
.ci span{
  display: block;
  /* 부모박스 끝까지 차지함 */
  text-align: center;
  margin-top: -20%;
  /* 부모 높이 값 기준 20% 크기만큼 반대방향(위쪽)으로 위치 이동함 */
}

/* 캐릭터 이름 이미지 */
.ci span img{
  width: 40%;
  /* 부모박스(span)의 가로 크기의 40% */
}

/* [자식요소 선택 가상 클래스]
-전제조건: 자식요소가 같은 종류일 경우
:first-child 첫번째 자식
:last-child 마지막 자식
:nth-child(순번) 몇번째 자식
->순번은 1부터

-전제조건: 자식요소가 여러 가지일 경우
:first-of-type 첫번째 자식
:last-of-type 마지막 자식
:nth-of-type(순번) 몇번째 자식
->순번은 1부터
*/
.ci span img:first-child{
  display: none;
}
/* .cha에 마우스 오버 시 첫번째 이미지 보이기 */
.cha:hover .ci span img:first-child{
  display: inline;
}
/* .cha에 마우스 오버 시 마지막 이미지 숨기기 */
.cha:hover .ci span img:last-child{
  display: none;
}

/* 캐릭터 설명 박스 */
.cd{
  /* background 색이반고윙/크; */
  background: url(../images/eachBG.jpg) no-repeat center/cover;
  margin-top: 15px;

  /* 둥근 모서리 */
  border-radius: 20px 0 0 20px;
  /* 4개의 값 - 왼쪽 위부터 시계 방향 */
  height: 0px;
  /* .cha 마우스 오버 시 높이 250px로 변경 */

  transition: height .4s ease-out 0s;
  /* transition: .4s; -> 시간만 줘도 적용됨
  모든 속성과 가속도는 기본값 적용 */
  /************************************* 
  트랜지션 애니메이션 효과 주기
  ->속성값의 변화과정을 보여주면서 애니메이션하는 속성
  transition: 속성 시간 이징 지연
  1.속성- 변경 애니메이션 대상 속성(안 쓰거나 all을 쓰면 모든 속성이 선택됨)
  2.시간- 애니메이션 시간
  ->초 단위(s)
  3.이징- 가속도
    1) ease: 앞뒤로 약간씩 느림(기본값)
    2) ease-in: 처음에 천천히, 나중에 빨라짐
    3) ease-out: 처음에 빠르게, 나중에 천천히
    4) ease-in-out: 처음과 끝에 천천히
    5) linear: 등속도
    -> 베지어 곡선으로 다채롭게 가속도 조정 가능
  4.지연- 지연시간. 즉, 처음에 얼마나 대기하는지
  ->초 단위(s)
  5.적용법: 
    오버 시와 원상복귀되는 애니가 같다면 오버 전 원본에 한 번만 주면 양방향 동일하게 적용됨
    ->만약 오버 시와 아웃 시 따로 주려면 각각 설정해야함
***********************************/
  overflow-y: scroll;
  /* y축 스크롤이 생겨서 넘치는 자식 요소 보임 */
}

/* .cha에 마우스 오버 시 cd 높이 값 변경 */
.cha:hover .cd{
  height: 250px;
}

/* 캐릭터 설명 타이틀 */
.cd h3{
  font-family: 'East Sea Dokdo', cursive;
  font-size: 25px;
  font-weight: normal;
  padding: 5px 10px 0;
  /* padding: 위 양쪽 아래 */
}

/* 가상요소로 타이틀 앞에 작은 도깨비 로고 이미지 넣기 */
.cd h3::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 30px;
  background: url(../images/bg_logo_a_01.png) no-repeat -142px -182px;
  /* outline: 1px solid red; */
  margin-right: 5px;
  vertical-align: -8px;
}

/* 캐릭터 설명 첫 글자 가상요소로 조절하기 */
.cd p:first-of-type::first-letter{
  font-size: 30px;
  color: black;
  /* text-shadow: 1px 0 cyan, -1px 0 cyan, 0 1px cyan, 0 -1px cyan; */
  /* 그림자 네 개로 글자 테두리 만들기 */
}


/* 캐릭터 설명 문단 */
.cd p{
  font-family: 'Song Myung', serif;
  font-size: 17px;  
  line-height: 1.7;
  padding: 10px;
  text-align: justify;
  /* 양쪽 정렬 */
}


/* 3. 하단 영역 */
#info{/* 겉박스 */
  background-color: rgba(255, 255, 255, 0.657);

}

.info{/* 속박스 */
  height: 241px;
}

/* 하단링크 */
.blink{

}

/* 가상요소 clear */
.blink ul::after{
  content: "";
  display: block;
  clear: both;
}

.blink>ul>li{
  float: left;
  padding: 0 15px;
}

/* 하단링크 a */
.blink>ul>li>a{
  text-decoration: none;
  color: black;
  font: bold 14px/39px 'Noto Sans KR', sans-serif;

  /* font-family: 'Noto Sans KR', sans-serif; */

  /* font 한 번에 설정하기
  font: 스두크/줄체
  font: 스타일 두께 크기/줄간격 글자체
  */
}