@charset "utf-8";
/* 도깨비 메인 페이지 CSS - main.css */

/* 기본 태그 초기화 - 마진, 패딩 없애기 */
html, body, h1, h2, h3, h4, h5, h6, ol, ul, dl {
  margin: 0;
  padding: 0;
}

/* 헤딩 태그 글자 크기 초기화 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* 글자크기 100%: 기본 글자 크기와 같아지는 셋팅 (기본 글자크기는 16px) */
}

/* 작업 진행 중 외곽선 */
/* 별표시(*)는 모든 요소를 선택 시 사용 */
body *{
  outline: 1px dashed gray;
  /* outline: 두께 종류 색상;
    ->border와 달리 주변 요소에 전혀 영향을 주지 않는다
    ->border는 박스 요소에 필수 포함요소지만 outline은 필수 요소가 아니다
    ->요소의 외곽선 바깥으로 보임
    */
}

/* 콘텐츠 파트 최상위 부모 */
body{
  /* 한 번에 배경 주기 */
  /* background: 색상 이미지 반복여부 고정 위치/크기 */
  background: 
  url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
  url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;

  /* 1.배경색 */
  /* background-color: rgb(129, 223, 240); */

  /* 2.배경 이미지 */
  /* background-image: url(../images/bg_logo_a_01.png); */
  /* 외부 css인 경우 css 파일 위치에서 한 단계 위로 올라간 후 이미지 폴더를 찾는다-> ../ */

  /* 3.배경 반복 여부 */
  /* background-repeat: no-repeat; */
  /* no-repeat 반복 안 함
     repeat-x x축 반복
     repeat-y y축 반복
  */

  /* 4.배경 고정 */
  /* background-attachment: fixed; */
  /* fixed 보이는 화면에 고정 */

  /* 5.배경 위치 조정 */
  /* background-position: center; */
  /* background-position: 가로 세로
     -가로: px,% 등 단위 또는 left, center, right
     -세로: px,% 등 단위 또는 top, center, bottom
  */

  /* 6.배경 이미지 크기 */
  /* background-size: cover; */
  /* background-size: 가로 세로; 
     -가로: px,% 등 단위 또는 auto(고유 비율 유지)
     -세로: px,% 등 단위 또는 auto

     -특별한 값
     contain(비율 유지 채우기. 이미지 모두 보임)
     cover(비율 유지 채우기. 배경 박스에 빈틈 없이 채움)
     */

}

/* 공통 클래스 */
/* 속박스 클래스 */
.ibx{
  /* width: 1200%; */
  max-width: 1200%;
  /* 최대 가로 크기 1200px이다가 화면이 1200px보다 작아지면 auto로 자동 변경 
  ->가로 스크롤이 생기지 않는다 */
  margin: 0 auto;
  /* 위아래 양쪽(auto는 등분함) */
  /* 마영오: 블록박스 가로중앙 */
}

/* 1. 상단 영역 */
.top{
  height: 125px;
}
/* 2. 메인 영역 */
.cont{
  max-width: 1920px;
  /* 가장 큰 일반 해상도 크기로 최대 크기 변경 */
  height: 800px;
  overflow: hidden;
}
/* 캐릭터 부모 박스 */
#cbx{
  width: 90%;
  /* 부모 박스 크기의 90% 크기 */
  margin: 0 auto;
  margin-top: 400px;
  /* height: 300px; */
  background-color: rgba(240, 128, 128, 0.479);
  overflow: hidden;
}

/* 캐릭터 박스 공통 */
.cha{
  /* 가로 4등분 */
  width: 25%;
  float: left;
  /* block요소를 옆으로 흘러가게 하기
    float속성
    ->left : 나는 왼쪽에 너는 오른쪽에
    ->right : 나는 오른쪽에 너는 왼쪽에

    자식 요소가 float된 경우 부모 요소는 높이 값 0
    ->block 자식요소가 float으로 인해 부모 요소가 높이 값이 0인 경우 다음과 같이 해결한다
    1) 부모 요소에 overflow:hidden 설정
    2) float 자식 요소 중 마지막 요소에 float 해제 속성인 clear 설정
  */

  /* height: 200px; */
  outline: 3px dotted rgb(48, 255, 41);
}

.ci>img{
  width: 100%;
  /* 이미지 크기를 부모 박스에 맞춰라 */

}

/* 3. 하단 영역 */
.info{
  height: 241px;
}

