@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);

body{
    background-color: #000;
}

/* 공사 중 */
/* body *{
    outline: 1px dashed #ccc;
} */

/* 레이아웃 공통 class */
.part{
    max-width: 1200px; /* 최대 1200px 이하일 때 auto */
    margin: 0 auto; /* 마영오 - 가로중앙 */
}
 /* 1. 상단영역  */
#top{
    position: relative; /* z-index 적용을 위해 relative + 부모자격 */
    z-index: 10;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1. 페이지 타이틀 */
h1.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    text-align: center;
    line-height: 80px;

    /* 그림자를 이용한 글로우 효과 */
    text-shadow: 0 0 10px aquamarine;

    animation: glow 1s ease-in infinite alternate ;
}
/* 타이틀 glow 애니메이션 */
@keyframes glow {
    to{
        text-shadow: 0 0 0;
    }
}

/* 1-2. 전체메뉴(GNB) */
.gnb{
    position: absolute;
    bottom: 5px;
    right: 15px;
    /* 부모는? #top */
}
/* GNB ul */
.glist{
    display: flex; /* 플렉스박스 */
    position: relative;
    z-index: 2;
}
/* GNB li 리스트 */
.glist>li{
    position: relative; /* 부모자격: .smenu의 중앙정렬을 위해 */
    padding: 0 10px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}
/* GNB 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);
    width: 146px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px white;

    display: none;
}
.glist>li:hover .smenu{
    display: block;
}
/* smenu에 가상요소로 삼각형 만들기 */
.smenu::before{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    /* 부모는 .smenu */

    /* 삼각형 만들기 */
    width: 0;
    height: 0;
    border-bottom: 10px solid #353535;
    border-left: 10px solid transparent; /* 양쪽보더는 투명 */
    border-right: 10px solid transparent; /* 양쪽보더는 투명 */
}
/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid white;
    padding: 10px;
}
/* 서브메뉴 li */
.smenu li{
    font-size: 16px;
    line-height: 2;
}
/* 서브메뉴 a */
.smenu a{
    display: block; /* 부모요소인 li의 가로 끝까지 차지 */
}
.smenu a:hover{
    color: red;
}
.glist>li:first-child .smenu a:hover::after{
    content: '😃';
    float: right; /* 인라인 요소 오른쪽 끝으로 보냄 */
}
.glist>li:nth-child(2) .smenu a:hover::after{
    content: '🎈';
    float: right; /* 인라인 요소 오른쪽 끝으로 보냄 */
}
.glist>li:nth-child(3) .smenu a:hover::after{
    content: '🍟';
    float: right; /* 인라인 요소 오른쪽 끝으로 보냄 */
}
.glist>li:nth-child(4) .smenu a:hover::after{
    content: '🚗';
    float: right; /* 인라인 요소 오른쪽 끝으로 보냄 */
}
/* cgv 아트하우스 위쪽 구분선 */
.bdt{
    border-top: 1px solid white;
}
/* 영사기 박스 */
#cam{
    position: absolute;
    bottom: -14px;
    right: -51px;
    /* 부모는 .gnb */

}
#cam img{
    position: relative;
    z-index: 1;
    /* 영사기 이미지가 빔 박스보다 앞에 나옴 */
    width: 50px;

    transform: rotate(25deg); /* 양수 값은 시계방향 */

    transition: .5s ease-out .5s;
}
/* gnb에 마우스 오버 시 영사기 회전*/
.gnb:hover #cam img{
    transform: rotate(0deg);
    transition-delay: 0s;
}

/* 빔 박스 */
.beam{
    position: absolute;
    top: -16px;
    right: 8px;
    /* 부모는 #cam */
    /* width: 200px; */
    width: 0;
    height: 70px;

    opacity: 1;

    background: url(../images/bim.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;

    /* outline: 1px dashed lime; */

    transition: width .5s ease-out;

}
.gnb:hover .beam{
    transition-delay: .5s;
    width: 200px;

    animation: beamAni .1s 1s infinite alternate;
}
@keyframes beamAni {
    from{
        opacity: 0.9;
    }
    to{
        opacity: 0.5;
    }
}
 /* 2. 메인영역  */
#cont{
    position: relative; /* 부모자격 */
    /* height: 788px; -> 비율유지를 위해 높이값을 없앰 */
    background: url(../images/bg.jpg) no-repeat 0/cover;
}
/* 메인 상영관 이미지와 같은 비율로 padding-top 밀기 설정 */
/* #cont 는 이미 .rbx 때문에 가상요소가 있음 */
#cont::before{
    /* padding-top 비율만 셋팅함 */
    /* 비율계산: x = 세로*100/가로 */
    padding-top: 65.66%;
}
/* 2-1. 스크린 박스 */
/* 비율유지박스 자식으로 위치와 크기를 %로 설정하면 부모를 따라 자연스럽게 비율이 유지된다 */
#screen{
    position: absolute;
    top: 17.2%;
    left: 21.4%;
    /* 부모는? #cont */
    width: 58.4%;
    height: 50.5%;
    background-color: black;
}
/* 스크린 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    border: none; /* 아이프레임 기본 보더 없앰 */
}
/* 2-2. 예고편 선택 메뉴 */
.mlist{
    position: absolute;
    bottom: 7%;
    left: 50%;
    /* 부모는? #cont */
    transform: translateX(-50%); /* X축 중앙 정렬 */

}
/* ul flexbox */
.mlist>ul{
    display: flex;
    perspective: 480px; /* 원근설정- 적용할 요소의 부모박스에 설정 */
}
.mlist>ul>li{
    position: relative; /* 부모자격 */
    overflow: hidden; /* 영화 설명박스를 숨기기 위해 설정 - 부모자격이 있는 요소에 사용해야함 */

    margin: 0 min(1vw,9px);
    transform: rotateX(40deg);
    transform-origin: bottom;

    transition: transform .4s ease-out;
}
.mlist>ul>li>a>img{
    width: min(8vw,99px);
    /* height: 140px; */
}

.movtxt{
    position: absolute;
    top: 100%; /* 부모의 높이값만큼 */
    /* 부모는? .mlist */

    width: min(8vw,99px);
    height: 100%;

    background-color: rgba(0, 0, 0, 0.712);

    font-family: 'Cute Font', cursive;
    font-size: min(1.2vw,14px);
    line-height: 2;
    text-align: center;

    transition: top .4s ease-out;
}
/* 부모 li에 마우스 오버 시 설명박스 올라오기 */
.mlist>ul>li:hover .movtxt{
    top: 0;
    transition-delay: .4s;
}
/* li에 마우스 오버 시 일어남 + 클래스 on을 주면 일어남 */

.mlist>ul>li:hover,
.mlist>ul>li.on{
    transform: rotate(0);
    z-index: 1;
    outline: 1px solid aquamarine;
}
/* 첫번째 li 영화제목 */
.movtxt>li:nth-child(1){
    color: aqua;
    font-size: min(1.5vw,17px);
    letter-spacing: -1px;
    margin-top: 30%;
}
 /* 3. 하단영역  */
#info{
    position: relative; /* 부모자격 */
    height: 100px;
}
/* 회사정보 */
#info address{
    color: rgb(179, 179, 179);
    font-style: normal;
    font-family: 'Cute Font', cursive;
    font-size: 18px;
    line-height: 20px;

    padding-top: 20px;
    padding-left: 20px;
}
/* 하단로고 */
#info img{
    float: left; /* 인라인플롯: 이미지 자신은 왼쪽, 글자는 오른쪽 */
    margin-right: 20px;
}
/* SNS 박스 */
ul.sns{
    position: absolute;
    /* 부모는? #info */
    top: 35px;
    right: 20px;
    display: flex;
}
.sns li{
    width: 34px;
    height: 34px;
    background: url(../images/sprites_logo.png) no-repeat;
    margin: 0 2px;
    filter: grayscale(100%); /* 흑백 처리 */
}
.sns li:hover{
    filter: grayscale(0);
}
.sns li:nth-child(1){
    background-position: -509px -429px;
}
.sns li:nth-child(2){
    background-position: -551px -429px;
}
.sns li:nth-child(3){
    background-position: -593px -429px;
}
/* sns a링크 확장 */
.sns a{
    display: block;
    width: 100%;
    height: 100%;
}