@charset "utf-8";


@import url(./core.css);
@import url(./reset.css);


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Black+Han+Sans&display=swap');

/* font-family: 'Black Han Sans', sans-serif;
   font-family: 'IBM Plex Sans KR', sans-serif;
*/



html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* 공사중 */
/* body * {
  border: 1px dotted #ccc
} */



/* 상단 영역 */
/* .top{
  height: 80px;
} */
/* .fll::after{
  content: "";
  display: block;
  clear: both;
}
.fll>li{
  float: left;
} */
.fl {
  display: flex;
}

.tmenu {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.tmenu>div {
  width: 40%;
}

.logo {
  /* position: absolute;
  top: 31%;
  left: 2%; */
  width: 15%;
  height: 100%;
}





/* .top:hover>.gnb>ul>li>a {
  color: white;
  transition: color 0.3s ease-out;
} */

/* 메인 영역 */
.daybx {
  padding: 1vw 10vw;
}

.week li {
  font-size: 1vw;
}

.week.fl {
  justify-content: space-around;
}

.selbx {
  padding: 1vw;
}

.select {
  margin-left: 8vw;
}

.select li {
  padding: 0 1vw;
  margin: 0 1vw;
  border: 1px solid #ccc;
  border-radius: 10px
}

.select a {
  text-decoration: none;
  color: black;
  font-size: 1vw;
}
.matchbx{
  margin: 0 10vw;
}
.match {
  flex-direction: column;
}

.match li {
  border-bottom: 1px solid #ccc;
  margin: 1vw;
  justify-content: space-between;

}

.match.fl {}

.match span {
  font-size: 1vw;
}

.match span p {
  font-size: 1vw;
}

.sigbtn {
  width: 7%;
  border: 1px solid #1570FF;
  background-color: #1570FF;
  color: white;
  border-radius: 5px;
  text-align: center;

  line-height: 2vw;
  height: 2vw;
  margin: auto 0;
}