@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Black+Han+Sans&display=swap');

/* font-family: 'Black Han Sans', sans-serif;
   font-family: 'IBM Plex Sans KR', sans-serif;
*/

html,body{
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
  scroll-behavior: smooth;
}
/* 공사중 */
body *{
  border: 1px dotted #ccc
}
ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 상단 영역 */
#Tp{
  height: 80px;
}
.fll::after{
  content: "";
  display: block;
  clear: both;
}
.fll>li{
  float: left;
}
.gnb{
  width: 570px;
  margin: 22px auto;
}
.gnb a{
  text-decoration: none;
  color: black;
  font-size: 3rem; 
  padding: 0px 40px;
  font-family: 'IBM Plex Sans KR', sans-serif;
}
/* 상단 메뉴 마우스 오버 시 */
#Tp:hover{
  background-color: black;
  transition: background-color 0.3s ease-out;
}
#Tp:hover>.gnb>ul>li>a{
  color: white;
  transition: color 0.3s ease-out;
}
/* 메인 영역 */
#cont{
  height: 3600px;
}
.GoDown{
  max-width: 371px;
  margin: 0 auto;
  margin-top: 628px;
}
.GoDown>ul>li>a{
  font-size: 2.4rem; 
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}
.GoDown>ul>li>a:hover{
  border-bottom: 1px solid #000;
}
#intro{
  width: 100%;
  height: 1600px;
  margin-top: 100px;
}
.inImg{
  width: 100%;
  height: 80vh;
  background: url(./imgs/about_hero_wide.png) no-repeat center/cover;
}
/* .inImg p{
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  margin-top: 20%;
} */
.inTit{
  width: min(50%,600px);
  height: 30%;
  margin: 300px auto 0;
  background: url(./imgs/about_title.png) no-repeat center/contain;
}
#intro h2{
  text-align: center;
  font-size: 6rem;
  margin: 100px 0;
}
.inDes{
  margin: 100px auto;
  max-width: 1174px;
}
.lightDes{
  max-width: 1141px;
  margin: 0 auto;
}
.boldDes>li{
  font-size: 2.6rem;
  padding: 0 67.9px;
  line-height: 250%;
}
.lightDes>li{
  font-size: 1.3rem;
  color: rgb(88, 88, 88);
  padding: 10px 88.3px;
}
.howTo{
  display: block;
  width: 77vw;
  margin: 0 auto;
}